html,
body {
  // TODO debug
  //  overflow-x: hidden;
}

body {
  background-color: $color_very-dark-gray;
}

.pre-wrap {
  white-space: pre-wrap;
}

h1 {
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: -2px;
  line-height: 4rem;
  color: #fff;
  background-color: darken($color_very-dark-gray, 4%);
  margin: 0 0 2rem 0;
  padding: 1px 2rem;
  // meh, not sure about this
  // span {
  //   letter-spacing: -3px;
  //   &:before,
  //   &:after {
  //     opacity: 0.3;
  //   }
  //   &:before {
  //     content: '<';
  //   }
  //   &:after {
  //     content: '></table>';
  //   }
  // }
}

h2 {
  display: inline-block;
  margin: 0 2rem;
  padding: 0.2rem;
  font-size: 2.2rem;
  color: #fff;
}

h3 {
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
  color: $color_light-gray;
}

.toast {
  position: fixed;
  background-color: $color_light-gray;
  border: 2px solid $color_dark-gray;
  z-index: 9000;
  top: 20px;
  right: 20px;
  opacity: 1;
  animation: 3.2s cubic-bezier(0.2, 1.2, 0.2, 1.2) toastAnimation;
  transform-origin: top right;
  overflow: hidden;

  .toast-msg {
    padding: 10px 15px;
  }
}

@keyframes toastAnimation {
  0% {
    opacity: 0;
    transform: rotate(-45deg);
  }
  5%,
  80% {
    opacity: 1;
    transform: rotate(0);
  }
  100% {
    opacity: 0;
    transform: rotate(45deg);
  }
}

#editor-table-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  justify-content: flex-end;

  #editor-table-controls {
    background-color: $color_gray;
    padding: 2rem;
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    border: 1px solid lighten($color_gray, 10%);

    button {
      background-color: $color_light-gray;
      font-size: 1.4rem;
      text-align: left;
      box-shadow: none;
      letter-spacing: -1px;
      margin: 1px;
      padding: 5px;
      border: 1px solid transparent;

      &:hover,
      &:focus {
        background-color: $color_orange;
        border: 1px solid darken($color_orange, 15%);
      }

      &:active {
        background-color: lighten($color_orange, 15%);
      }
    }

    div {
      display: flex;
      justify-content: space-between;
      padding-top: 0.5rem;

      label {
        padding-right: 2px;
        color: $color_light-gray;

        &:hover {
          color: #fff;
        }

        &:active {
          color: $color_orange;
        }
      }
    }

    .table-class-selector-container,
    .table-caption-input-container {
      display: flex;
      flex-direction: column;
      font-size: 1.4rem;
      padding: 0.8rem 0;

      label {
        &:hover,
        &:active {
          color: $color_light-gray;
        }
      }
    }

    #reset-table {
      margin-top: 1rem;
    }

    .import-from-csv-container {
      display: flex;
      flex-direction: column;
      padding-top: 1rem;
      color: $color_light-gray;

      label {
        font-size: 18px;
      }

      input {
        font-size: 12px;
        box-shadow: none;
        border-radius: 0;
      }
    }
  }
}

.editor-table {
  table-layout: auto;
  height: 100%;
  display: block;
  border-collapse: separate;
  border-spacing: 0;
  background-color: $color_gray;
  padding: 2rem;
  margin: 0;
  border: 1px solid lighten($color_gray, 10%);
  overflow-x: scroll;
  max-width: calc(100vw - 316px); //TODO recalculate

  #header-heading {
    padding-bottom: 0.5rem;
  }

  #body-heading,
  #footer-heading {
    padding: 0.5rem 0;
  }

  .th-controls,
  .td-body-controls,
  .td-footer-controls {
    display: flex;
    flex-direction: column;
    background-color: darken($color_light-gray, 10%);
    border-top: 1px solid $color_dark-gray;

    .controls-top-container {
      display: flex;
    }

    .rowcol-button-container {
      display: flex;
    }

    button,
    label {
      font-size: 1rem;
    }

    button {
      display: inline-block;
      padding: 0;
      margin: 0;
      width: auto;
      border: 1px solid transparent;
      border-right: 1px solid $color_dark-gray;
      border-radius: none;
      box-shadow: none;

      &:hover,
      &:focus {
        &:not([disabled='true']) {
          background-color: $color_orange;
        }
      }
    }

    input {
      height: 10px;
      width: 10px;
    }
  }

  tr {
    height: 100%;
  }

  th,
  td {
    height: inherit;
    text-align: center;

    .grid-container {
      display: flex;
      flex-direction: column;
      height: 100%;

      textarea {
        display: table-cell;
        vertical-align: middle;
        flex-grow: 1;
        word-wrap: break-word;
        font-size: 1.2rem;
        height: 21px; // 16 + padding. Also set in "addResizingToTextareas.js"
        width: 100%;
        resize: none;
        border-radius: none;
        background: $color_light-gray;
        padding: 5px 2px;
        margin: 0;
        box-sizing: border-box;
        border: none;
        min-width: 180px;
      }
    }
  }

  td {
    .isheader-container {
      display: flex;
      align-items: center;
      margin: 0 0.5rem;

      label {
        padding: 2px 0;
        margin-right: 0.2rem;
      }
    }

    .isheader-scope-container {
      display: flex;
      justify-content: center;
      font-size: 1rem;
      padding-top: 0.4rem;

      span {
        margin-right: 0.5rem;
      }

      label {
        margin-right: 0.2rem;
      }

      input {
        margin-right: 0.5rem;
      }
    }
  }
}
/*
deprecated.
 TODO 
 fix the colgroup controls (this hides the text align option only...currently
*/
#table-col-control-row {
  display: none;
}

.table-code-and-preview-section {
  display: flex;

  #markup,
  #preview {
    padding: 1rem;
    margin: 2rem;
    border: 1px solid lighten($color_gray, 10%);
    background-color: $color_gray;
  }

  #markup {
    display: flex;
    flex-direction: column;
    height: 500px;
    margin-right: 0;

    .title-and-copy-button {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        margin: 0.5rem 0;
      }

      button {
        font-size: 1.4rem;
        padding: 5px;
        margin: 0 5px;
        border: 1px solid transparent;
        border-radius: none;

        &:hover,
        &:focus {
          background-color: $color_orange;
          border: 1px solid darken($color_orange, 10%);
        }
      }
    }

    code#table-code {
      display: block;
      flex-grow: 1;
      overflow-y: scroll;
      padding: 0;
      background-color: $color_very-dark-gray;
      border: 5px solid $color_gray;
      color: $color_very-light-kinda-brownish;

      .tag {
        color: lighten($color_light-orange, 10%);
      }
    }
  }

  #preview {
    h2 {
      padding: 7px 0;
      margin: 0;
    }

    caption {
      color: $color_light-gray;
    }

    #preview-table {
      border: 1px solid #000;
      border-collapse: collapse;
      color: $color_very-dark-gray;
      background-color: $color_light-gray;

      th {
        font-weight: 700;
      }

      th,
      td {
        padding: 5px;
        border: 1px solid $color_very-dark-gray;
      }
    }
  }
}
