@font-face {
  font-family: 'courier-prime-sans';
  src: url('../src/fonts/courier-prime-sans.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'courier-prime-sans';
  src: url('../src/fonts/courier-prime-sans-italic.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'courier-prime-sans';
  src: url('../src/fonts/courier-prime-sans-bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'courier-prime-sans';
  src: url('../src/fonts/courier-prime-sans-bold-italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
