@import 'fonts';
@import 'normalize';
@import 'loading-modal';
@import 'app';

.display-none {
  display: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  letter-spacing: -1px;
}

body {
  font-family: 'SpaceMono';
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: -1px;
}
